<!--
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
-->

<!-- This page will be used to display if the sky will be visible on that night-->
<!-- APIs needed to show here: sunset, weather, new moon-->
<div>
  <h2>Will the sky be visible tonight?</h2>
    <form>
      <!--possibly using zip code to determine if skies are clear for weather-->
      <!--possibly using zip code also to see if it is a new moon?-->
      <!--possibly using zip code to see what time the sun set is in their area-->
      <input type="text" placeholder="What is your zip code?">
        <select >
          <option value="" disabled selected>Select State...</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="notated-music">Notated Music</option>
          <option value="websites">Websites</option>          <option value="" disabled selected>Select State...</option>
          <option value="maps">Maps</option>
          <option value="audio">Audio</option>
          <option value="photos">Photos</option>
          <option value="manuscripts">Manuscripts</option>
          <option value="newspapers">Newspapers</option>
          <option value="film-and-videos">Film and Videos</option>
          <option value="notated-music">Notated Music</option>
          <option value="websites">Websites</option>          <option value="" disabled selected>Select State...</option>
          <option value="maps">Maps</option>
          <option value="audio">Audio</option>
          <option value="photos">Photos</option>
          <option value="manuscripts">Manuscripts</option>
          <option value="newspapers">Newspapers</option>
          <option value="film-and-videos">Film and Videos</option>
          <option value="notated-music">Notated Music</option>
          <option value="websites">Websites</option>
        </select>
      <button>Submit</button>
    </form>

</div>
